@CHARSET "UTF-8";

#container {
	
	min-height:100%;
	
	width:100%;
	
	position:relative;
	
	overflow:hidden;
	
}

#left_container {
	
	width:100%;
	
	height:auto;
	
	float:left;
	
	overflow:hidden;
		
}

#project_sidebar {
	
	height:100%;
	
	width:251px;
	
	float:left;
	
	background:#AAA;
	
	position:fixed;
	
	top:0;
	
	right:0;
		
	overflow:hidden;
	
}

#project_sidebar_content {
	
	height:100%;
	
	width:auto;
	
	background:#FFFFFF;
	
	overflow:hidden;
	
}

#project_sidebar_members_area {
	
	height:100px;
	
	width:221px;
	
	padding:5px 9px;
	
	border-bottom:solid 1px #AAAAAA;
	
}

#project_members_photo_link {
	
	height:40px;
	
	width:40px;
	
	display:block;
	
	float:left;
	
	margin:5px 2px;
	
}

.project_sidebar_click_area {
	
	height:100%;
	
	width:10px;
	
	float:left;
	
	background:#FFFFFF;
	
	opacity:0.5;
	
	border:solid 1px #666666;
	
}

.project_sidebar_click_area:hover {
	
	opacity:1;
	
	cursor:pointer;
	
}

header {
	
	height:50px;
	
	width:100%;
	
	overflow:hidden;
	
	background:#2D4D8D;
	
	margin:0px;
	
	padding:0px;
	
}

#top {
	
	height:50px;
	
	width:auto;
	
	margin:0 301px 0 0;
	
	overflow:hidden;
	
}

#small_logo {
	
	display:block;
	
	height:40px;
	
	width:57px;
	
	float:left;
	
	margin:5px 10px;
	
	background:url(../img/small_logo.png) no-repeat;
	
}

#search_form {
	
	display:block;
	
	height:28px;
	
	width:364px;
	
	float:left;
	
	margin:11px 0 0 191px;
	
}

#search_field {
	
	height:24px;
	
	width:300px;
	
	border-radius:3px 0 0 3px;
	
	float:left;
	
}

#search_field_button {
	
	height:28px;
	
	width:60px;
	
	line-height:28px;
	
	float:left;
	
	color:#FFFFFF;
	
	background:#1f3c78;
		
	border-radius:0 3px 3px 0;
	
}

#search_field_button:hover {
		
	color:#000000;
	
	cursor:pointer;
	
}

#user_photo_link {
	
	display:block;
	
	height:40px;
	
	width:40px;
	
	float:right;
	
	margin:5px 10px 0 150px;
	
}

#user_photo_link:hover {
	
	opacity:0.7;
	
	cursor:pointer;
	
}

#message_icon {
	
}

#menu_bar {
		
	height:35px;
	
	width:100%;
		
	background:#CCDDFF;
	
	line-height:35px;
	
}

#menu_bar h1 {
	
	float:left;
	
	margin:0 0 0 10px;
	
}

#menu {
	
	display:inline-block;
	
	list-style:none;
	
	font-size:14px;
	
	margin:0 0 0 80px;
	
	float:left;

}

#menu li {
	
	display:inline-block;
	
}

#menu li a {
	
	display:block;
	
	margin: 5px 20px;
	
	padding:0 5px;
	
	float:left;
		
	width:auto;
	
	line-height:25px;
	
}

#menu li a:hover {
	
	border-radius:4px;
	
	background:#A3C1FF;
	
	color:#FFFFFF;
	
	padding:0 5px;
	
	cursor:pointer;
	
}

#category_selected {
				
	border-radius:4px;
	
	background:#2D4D8D;
	
	color:#FFFFFF;
	
	padding:0 5px;
		
}

#content {
	
	height:auto;
	
	min-height:600px;
	
	width:100%;
		
	overflow:hidden;
	
	position:relative;
	
}

footer {
	
	height:448px;
	
	width:100%;
		
	overflow:hidden;
	
	background:#CCDDFF;
	
}

#copyright {
	
	height:20px;
	
	width:100%;
	
	background:#2D4D8D;
	
	color:#FFFFFF;
	
	font-size:10px;
	
	line-height:20px;
	
	text-align:center;
	
}
