@charset "utf-8";
* {
	
	padding:0;
	
	margin:0;
	
}

html, body {
	
	height:100%;
	
}

body {
	
	background-color:#FFFFFF;
	
	width:100%;
	
	margin:0 auto;
	
	font-family:Arial, Helvetica, sans-serif;
	
	font-size:12px;
	
	color:#000000;
	
}


h1 {
	
	display:inline;
	
	font-weight:bold;
	
	font-size:20px;
	
	color:#000000;
	
}

h2, h3, h4, h5, h6 {
	
	font-weight:normal;
	
}

a {
	
	color:#1F3C78;
	
	text-decoration:none;
	
}

a:hover {
	
	color:#3E5E9E;
	
	text-decoration:none;
	
}

textarea, input {
	
	font-family:Arial, Helvetica, sans-serif;
	
}

img, a img, input {
	
	border:none;

}

input {

	border-radius:3px;	
	
}

input.text {
	
	border:2px solid #1f3c78;
	
}

label {
	
	display:inline;
	
}

hr {
	
	border:none;
	
	height:1px;
	
	background:#333;
	
}

