@CHARSET "UTF-8";

.user-form {
	float: right;
	margin: 0 78px 0 0;
}

.user-form fieldset input.error {
	border: 1px solid #FF0000;
}

.user-form h1 {
	display: block;
	margin: 20px 0;
	font-size: 35px;
	text-shadow: #61472D -1px -1px, #61472D 1px 1px;
}

.user-form, .user-form fieldset {
	display: block;
	width: 311px;
	height: auto;
}

.user-form fieldset label {
	display: block;
	margin: 0 0 5px 0;
	line-height: 20px;
}

.user-form fieldset input[type="text"],
.user-form fieldset input[type="email"],
.user-form fieldset input[type="password"],
.insert-form fieldset select {
	height: 21px;
	width: 303px;
	padding:2px;
	border: 1px solid #38291A;
	border-radius: 3px;
	margin: 0 0 10px 0;
}

.user-form fieldset input[type="checkbox"] {
	height: 20px;
	width: 20px;
	border: 1px solid #38291A;
	display: block;
	float: left;
}

.user-form fieldset #terms-paragraph {
	margin: 15px 0 15px 0;
}

.user-form fieldset input[type="submit"] {
	float: right;
}