@CHARSET "UTF-8";

/* CATEGORY INSERT FORM */

.insert-form {
	
	display:block;
	
	height:auto;
	
	padding:10px;
	
	overflow:hidden
	
}

.insert-form fieldset{
	
	width:438px;
	
	height:auto;
	
	border:none;
	
	display:block;
	
}

.insert-form fieldset legend {
	
	font-size:14px;
	
	margin:0 0 5px 0;
	
}

.insert-form fieldset label {
	
	display:inline-block;
	
	margin:10px 0 0 0;
	
}

.insert-form fieldset input, .insert-form fieldset select {
	
	margin-top:10px;
	
}

.insert-form fieldset input[type="text"], .insert-form fieldset select {
	
	height:25px;
	
	width:97%;
	
	border:1px solid #38291A;
	
	border-radius:3px;

}

.insert-form fieldset input[type="submit"] {
	
	float:right;
	
	margin-right: 3%;
	
}