@CHARSET "UTF-8";

.taskPanel{
	width:300px;
	border: 1px solid #333333;
	text-align:center;
	background: #DDDDDD;
	float:left;
	margin: 10px;
}

.taskPanel .task{
	background: #EFEFEF;
	font: 10px #333333 Arial;
	border: 1px solid #AAAAAA;
	padding: 10px;
}

.taskPanel .task:FIRST-CHILD {
	font: 15px;
}