@CHARSET "UTF-8";

#purchase-title {
    font-size: 36px;
    margin: 25px auto;
    display: block;
    width: 268px;
}

ol.plans {
	display: block;
	margin-top: 30px;
	width:1212px;
}

ol.plans .option {
	float: left;
	width: 273px;
	height: auto;
	padding: 0 0 15px 0;
	background: #38291A;
	border: 1px solid #38291A;
	color: #997047;
	list-style: none;
	margin: 0 10px;
	-webkit-transition-property : scale; 
	-webkit-transition-duration : 0.2s; 
	-webkit-transition-timing-function : ease-in-out; 
	-moz-transition : all 0.2s ease-in-out;
	border-top-left-radius: 5px;
	-moz-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.plans .option:hover { 
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	box-shadow : 0 0 10px rgba(0,0,0,.8);
	-moz-box-shadow : 0 0 10px rgba(0,0,0,.8);
	-webkit-box-shadow : 0 0 10px rgba(0,0,0,.8);
	-webkit-transform : scale(1.15); 
	-moz-transform : scale(1.15);
	border-right: 1px solid #38291A; 
	z-index: 99999;
}

.plan-title {
	font-size: 18px;
	display: block;
	width: 100%;
	height: 40px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	text-shadow: black 0 2px 2px;
}

#bronze-title {
	color: #C9AE5D;
}

#silver-title {
	color: #C0C0C0;
}

#gold-title {
	color: #FFD700;
}

#platinum-title {
	color: #EDEDEF;
}

.plan-description {
	font-size: 14px;
	width: 100%;
}

.plan-description li {
	height: auto;
	min-height: 64px;
	width: auto;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid white;
	border-collapse: separate;
	border-spacing: 5px 0;
	background: #F4F4F4;
	padding: 24px 10px;
	position: relative;
	overflow: hidden;
}

#extension-button {
	height: 40px;
	width: 350px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	display: block;
	clear: both;
	margin: 50px auto;
	overflow: hidden;
}