@media only screen and (max-width: 560px) {
}

@media only screen and (max-width: 675px) {
}

@media only screen and (max-width: 765px) {
}

@media only screen and (max-width: 630px) {
	#search-form input[type="search"]{
		width:150px;
	}
}	

@media only screen and (max-width: 810px) {
	#search-form{
		margin-left:10px;
	}
}

@media only screen and (max-width: 1035px) {
	#project-sidebar {
		display: none;
	}
	.opened-sidebar {
		padding-right: 20px;
	}
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) { }