@media only screen and (max-width: 560px) {
}

@media only screen and (max-width: 675px) {
}

@media only screen and (max-width: 765px) {
}

@media only screen and (min-width: 539px) {
}

@media only screen and (max-width: 425px) {
	#project-content {
		margin-top: 123px !important;
	}
	
	#menu-bar {
		height: 71px;
	}
	
	#menu {
		height: 71px;
		width: 221px;
	}
	
	#user-name-link {
		max-width: 61px;
	}
}

@media only screen and (max-width: 539px) {
	#project-content {
		margin-top: 123px !important;
	}
	
	#menu-bar {
		height: 71px;
	}
	
	#menu {
		height: 71px;
		width: 221px;
	}
}

@media only screen and (max-width: 430px) {
	#menu {
		height: 71px;
		width: 221px;
	}
}	

@media only screen and (max-width: 630px) {
	#search-form input[type="search"] {
		width:150px;
	}
	#menu > li > a {
		margin: 5px 0px;
		max-width: 109px;
	}
}	

@media only screen and (max-width: 810px) {
	#search-form{
		margin-left:10px;
	}
}

@media only screen and (max-width: 1035px) {
	#project-sidebar {
		display: none;
	}
	.opened-sidebar {
		padding-right: 20px;
	}
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) { }