@CHARSET "UTF-8";
*{
	font-family:arial;
	margin:0;
	padding:0;
}

.category{ 
	width:100%;
	min-height:100px;
	height:auto;
	background: #EFEFEF;
	padding: 10px;
	float:left;
	clear:both;
	border: 1px solid #AAAAAA;
}

.taskPanel{
	width:300px;
	border: 1px solid #333333;
	text-align:center;
	background: #DDDDDD;
	float:left;
	margin: 10px;
}

.task{
	background: #EFEFEF;
	font: 12pt #333333 Arial;
	border: 1px solid #AAAAAA;
	padding: 10px;
}

.options-task{
	background: #DDDDDD;
	font-size: 10pt;
}

/* STATES */

.DONE{
	background: #EEFEFF;
}

.DOING{
	background: #DEEEFF;
}

.TODO{
	background: #FEEEFF;
}

