@CHARSET "UTF-8";

/*Structure*/
.clear-fix {
	clear: both;
}

.header {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	background: #61472D;
	position: fixed;
}

.header a {
	color: #E3E1D5;
}

#top {
	background: #61472D;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	border-bottom: 1px solid #533D26;
}

#container {
	min-height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
}

.content {
	height: auto;
	min-height: 600px;
	width: 100%;
	padding-top: 20px;
	overflow: hidden;
	position: relative;
	overflow: hidden;
}

#project-content {
	background: url(../img/fabric_plaid.png) repeat;
}

#home-content {
	background: #B78E65;
}

#generic-content {
	background: #FFFFFF;
}

footer {
	height: 448px;
	width: 100%;
	overflow: hidden;
	background: #61472D;
}

#copyright {
	height: 20px;
	background: #38291A;
	color: #E3E1D5;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
}

/*USER*/
#user-name-link {
	display: block;
	width: auto;
	float: right;
	height: 40px;
	line-height: 40px; font-size : 14px;
	color: #E3E1D5;
	font-size: 14px;
}

#user-name-link:hover {
	color: #AE7F50;
}

/*MENU*/
.arrow {
	width: 0;
	height: 0;
	float: right;
	margin: 18px 9px 0 0;
	line-height: 20px;
	font-weight: bold;
	font-size: 19px;
	border: 7px solid transparent;
	border-top-color: white;
}

.dropdown {
	cursor: pointer;
	position: relative;
}

.dropdown-target {
	z-index: 1;
	display: none;
	width: 100px;
	font-size: 10px;
	color: #000;
	left: -50px;
	top: 5px;
	background-color: #FFF;
	position: absolute;
}

.dropdown-target li {
	height: 22px;
	line-height: 22px;
	text-align:center;
}

.dropdown-target li > * {
	color:#000;
}

#menu-bar-buttons {
	float: right;
	height: 35px;
}

#menu-bar-buttons a {
	margin: 5px 0;
}

#menu-bar {
	height: 35px;
	background: #84603D;
	line-height: 35px;
	border-top: 1px solid #997047;
}

#menu-bar h1 {
	float: left;
}

#menu {
	display: inline-block;
	height: 35px;
	list-style: none;
	font-size: 14px;
	margin-left: 80px;
	float: left;
}

#menu li {
	display: inline-block;
}

#menu li a {
	display: block;
	margin: 5px 15px;
	padding: 0 5px;
	float: left;
	width: auto;
	line-height: 25px;
}

#menu li a:hover {
	border-radius: 4px;
	background: #AE7F50;
	color: #E3E1D5;
	padding: 0 5px;
	cursor: pointer;
}

/*LOGO*/
#small-logo {
	text-indent: -9999px;
	display: block;
	height: 40px;
	width: 57px;
	float: left;
	background: url(../img/small_logo.png) no-repeat;
}

/*SEARCH*/
#search-form {
	display: block;
	float: left;
	margin: 7px 0 0 191px;
	overflow: hidden;
}

#search-form input[type="search"] {
	height: 25px;
	width: 300px;
	border-radius: 3px 0 0 3px;
	float: left;
	border: 0;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) inset;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) inset;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) inset;
}

#search-form input[type="search"]:focus {
	outline: 0px;
}

#search-form input[type="submit"] {
	height: 25px;
	width: 70px;
	float: left;
	color: #E3E1D5;
	background: #38291A;
	border-radius: 0 3px 3px 0;
	border: 0;
	padding: 0;
}

#search-form input[type="submit"]:hover {
	background: #84603D;
	color: #E3E1D5;
	cursor: pointer;
}

/*BUTTONS*/
.button {
	display: inline-block;
	width: auto;
	padding: 0 10px;
	line-height: 25px;
	height: 25px;
	border-radius: 3px;
	cursor: pointer;
}

.normal-button {
	background: #38291A;
	color: #E3E1D5;
}

.normal-button:hover {
	background: #AE7F50;
	color: #E3E1D5;
	cursor: pointer;
}

.add-task-button {
	line-height: 30px;
	width: 379px;
	font-size: 16px;
	border: solid 1px #196415;
}

.add-button {
	display: block;
	background: linear-gradient(bottom, rgb(32, 125, 27) 0%,
		rgb(45, 175, 38) 100% );
	background: -o-linear-gradient(bottom, rgb(32, 125, 27) 0%,
		rgb(45, 175, 38) 100% );
	background: -moz-linear-gradient(bottom, rgb(32, 125, 27) 0%,
		rgb(45, 175, 38) 100% );
	background: -webkit-linear-gradient(bottom, rgb(32, 125, 27) 0%,
		rgb(45, 175, 38) 100% );
	background: -ms-linear-gradient(bottom, rgb(32, 125, 27) 0%,
		rgb(45, 175, 38) 100% );
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(32,
		125, 27) ), color-stop(1, rgb(45, 175, 38) ) );
	-webkit-box-shadow: inset 0px 1px 0px #56D84F, 0px 1px 0px #0C320A;
	-moz-box-shadow: inset 0px 1px 0px #56D84F, 0px 1px 0px #0C320A;
	box-shadow: inset 0px 1px 0px #56D84F, 0px 1px 0px #0C320A;
	text-shadow: #207D1B -1px -1px, #207D1B 1px 1px;
	text-align: center;
	color: #FFFFFF;
}

.add-button:hover {
	color: #0C320A;
	text-shadow: #2DAF26 -1px -1px, #2DAF26 1px 1px;
}

.add-task-button:active {
	color: #FFFFFF;
	background: linear-gradient(bottom, rgb(45, 175, 38) 0%,
		rgb(32, 125, 27) 100% );
	background: -o-linear-gradient(bottom, rgb(45, 175, 38) 0%,
		rgb(32, 125, 27) 100% );
	background: -moz-linear-gradient(bottom, rgb(45, 175, 38) 0%,
		rgb(32, 125, 27) 100% );
	background: -webkit-linear-gradient(bottom, rgb(45, 175, 38) 0%,
		rgb(32, 125, 27) 100% );
	background: -ms-linear-gradient(bottom, rgb(45, 175, 38) 0%,
		rgb(32, 125, 27) 100% );
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(45,
		175, 38) ), color-stop(1, rgb(32, 125, 27) ) );
}

.remove-button {
	display: block;
	background: linear-gradient(bottom, rgb(153, 0, 0) 0%, rgb(255, 0, 0)
		100% );
	background: -o-linear-gradient(bottom, rgb(153, 0, 0) 0%, rgb(255, 0, 0)
		100% );
	background: -moz-linear-gradient(bottom, rgb(153, 0, 0) 0%,
		rgb(255, 0, 0) 100% );
	background: -webkit-linear-gradient(bottom, rgb(153, 0, 0) 0%,
		rgb(255, 0, 0) 100% );
	background: -ms-linear-gradient(bottom, rgb(153, 0, 0) 0%,
		rgb(255, 0, 0) 100% );
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(153, 0
		, 0) ), color-stop(1, rgb(255, 0, 0) ) );
	text-align: center;
	color: #FFFFFF;
}

.remove-button:hover {
	color: #5b0000;
}

.archive-task {
	float: right;
	width: 23px;
	height: 23px;
	line-height: 23px;
	text-indent: -2px;
	font-weight: bold;
}

.message {
	width: 300px;
	heigth: auto;
	margin-bottom: 10px;
	padding: 7px 5px;
	border-radius: 3px;
	opacity: 0.9;
}

fieldset .message {
	margin: 0px;
}

.warning {
	background: #FFE393;
	border: 1px solid #FED04C;
	color: #936D00;
}

.error {
	background: #FECCCC;
	border: 1px solid #D39191;
	color: #A30000;
}

label.error {
	width: 300px;
	heigth: auto;
	padding: 7px 5px;
	border-radius: 3px;
}

.success {
	background: #C0E7B5;
	border: 1px solid #A0DB8E;
	color: #3c7f29;
}

/*RESIZABLE STRUSCTURE*/
@media all and (max-width: 1035px) {
	#project-sidebar {
		display: none;
	}
}

.resizable {
	width: 100%;
	padding-right: 20px;
	padding-left: 10px;
}

.opened-sidebar {
	padding-right: 261px;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

.closed-sidebar {
	padding-right: 20px;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}