@charset "utf-8";

html,body {
	height: 100%;
}

body {
	background-color: #FFFFFF;
	width: 100%;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

h1 {
	display: inline;
	font-weight: bold;
	font-size: 20px;
	color: #E3E1D5;
}

h2,h3,h4,h5,h6 {
	font-weight: normal;
}

a {
	color: #38291A;
	text-decoration: none;
}

a:hover {
	color: #3E5E9E;
	text-decoration: none;
}

textarea,input {
	font-family: Arial, Helvetica, sans-serif;
}

input {
	border-radius: 3px;
}

label {
	display: inline;
}

hr {
	border: none;
	height: 1px;
	background: #333;
}